@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "../styles/variables.module.scss";
@import "~bootstrap/scss/bootstrap";

* {
  font-family: $libre-font;
}

body {
  height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, black 50%, white 50%);
  border: red solid;
}

main {
  margin-top: 10px;
  width: 100%;
  border: solid linear-gradient(to right, white 50%, black 50%);
}

// Navigation constum hoover

.custom-link {
  color: $color-white;
  font-family: $thinMan-font;
  &:hover {
    color: $link-color;
    opacity: 0.8;
  }
}
.costum-icon-color {
  background-color: $link-color;
}

// General

.text-container {
  padding: 20px;
  width: 500px;
  background: $background-color;
  border: solid $color-white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

.card-style {
  border-radius: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: solid $color-black;
}

.container-size {
  width: 1000px;
}

// Index

.heading {
  width: 300px;
  color: $color-white;
  font-size: 72px;
  font-family: $thinMan-font;
}

.heading-lg {
  font-size: 100px;
  font-family: $thinMan-font;
}

.img-style {
  border-bottom: solid $color-white;
}

%general-style {
  font-family: $thinMan-font;
  font-size: 25px;
  font-weight: 500;
}

.title-previous-experience {
  margin-top: 0px;
  @extend %general-style;
}

.title-about-me {
  @extend %general-style;
}

// Experience

.list {
  list-style: none;
  color: $color-black;
}

.titel-experience {
  @extend %general-style;
}

.body-size {
  width: 800px;
}

// contact & ecperience

.second-heading {
  width: 500px;
  color: $color-white;
  font-size: 72px;
  font-family: $thinMan-font;
}
